
@{
	ViewData["Title"] = "Strona Główna";
}
<h1>Strona główna</h1> 
<style>
	h1{
		display:flex; 
		justify-content:center; 
		align-items:center;
	}
</style>
<p>
	<a asp-action="Booklist">See List</a> | 
	<a asp-action="Userlist">Users List</a>
</p>
